body {
  font-family: 'Open Sans', sans-serif;
  background-color:lightskyblue;
}

#top-bar {
  background-color: lavenderblush;
  font-size: 1.5em;
  width: 100%;
  margin-top: 0px;
  padding: 10px;
  border-radius: 6px;
}
#bar-content {
  margin-left: 20px;
}
#menu {
  margin-left: 20px;
  color: white;
}
#wel-back {
  height: 100%;
  position: absolute;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
  right: 50%;
}
#cs-back {
  height: 100%;
  position: absolute;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
  right: 50%;
}
#about-back {
  height: 100%;
  position: absolute;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
  right: 50%;
  height: 600px;
}
.main {

}

.title {
  font-size: 2em;
  padding:16px
}

.view {
  min-height: 400px;
  margin-top:0px;
  color: white;
}
.toolbox {
  margin:auto;
  padding:20px;
  color:white
}
#portrait img{
  width: 30%;
  display: block;
  margin: auto;
  border-radius:80px;
}
#welcome-content{
  width: 45%;
  margin: auto;
  text-align: center;
}

#social-links img{
  display: inline-block;
  margin: 20px;
}
#social-links {
  text-align:center;
}

#cs-page {
  margin:auto;
  text-align: center;
}
#about-page {
  text-align: center;
}
#about-content {
  margin:auto;
  text-align:center;
  width:320px;
}
#links-title {
  margin-top: 16px;
  font-weight: bold;
}
#about-links {
  display: block;
  text-decoration: none;
  color: black;
  padding: 12px;
}
.link-text {
  padding: 8px;
}
